:root {
    --primary-color: #7D21FEB2;
    --text-dark: #0A003D;
    --tree-line-color: #e5e7eb;
    --dot-inactive: #e5e7eb;
    --dot-active: #fa56db;
    --pink-btn: #fd79a8;
     --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
     --transition: all 0.3s ease;
     --border-radius: 12px;
}

body {
    font-family: "Cairo", sans-serif;
    background-color: #fff;
    color: var(--text-dark);
    overflow-x: hidden;
}
a {
    text-decoration: none;
    color: #0A003D;
}

/* ===========================
   1. Sidebar Styles
   =========================== */
.sidebar {
    width: 280px;
    background: #F5F4F4;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    /* border-left: 1px solid #eee; */
    z-index: 1000;
    transition: transform 0.3s ease;
     overflow-y: auto;          /* السماح بالتمرير */
    scrollbar-width: none;     /* إخفاء الشريط لمتصفح Firefox */
    -ms-overflow-style: none;
}
.sidebar::-webkit-scrollbar {
    display: none; /* هذا السطر يخفي الشريط تماماً */
}

.sidebar-header {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
}

.logo img { 
    height: 40px; 
    margin-right: 35px;
    border-bottom: 1px solid #eee;
}

.sidebar-close {
    cursor: pointer;
    background: #7D21FE;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-nav {
 padding: 15px 10px;
margin-top: 55px;
}

.sidebar-nav .nav-link {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    color: #0A003D;
    font-weight: 600;
    border-radius: 10px;
    transition: 0.3s;
    margin-bottom: 5px;
    cursor: pointer;
    text-decoration: none;
}

.sidebar-nav .nav-link:hover, .sidebar-nav .nav-link.active {
    background-color: rgba(124, 58, 237, 0.7);;
    color: white;
    padding: 12px 20px;
    border-radius: 12px;
   
}

.sidebar-nav .nav-link i {
    font-size: 1.2rem;
    margin-left: 15px;
    width: 25px;
    text-align: center;
    color: rgba(124, 58, 237, 0.7);;
}
.sidebar-nav .nav-link:hover i,
.sidebar-nav .nav-link.active i{
    color: white;
}

.submenu-arrow {
    margin-right: auto;
    font-size: 0.8rem;
    transition: transform 0.3s;
}

/* Sidebar Checkboxes (Hidden) */
.sidebar-checkbox, .submenu-checkbox { display: none; }

/* Submenu Logic */

.submenu-checkbox:checked ~ .nav-link .submenu-arrow {
    transform: rotate(180deg);
}
.submenu-checkbox:checked ~ .submenu {
    display: block;
}

/* Tree View */
.has-submenu .submenu {
    display: none;
    list-style: none;
    margin-right: 27px;
    padding-right: 25px;
    border-right: 2px solid var(--tree-line-color);
    margin-top: 5px;
    margin-bottom: 10px;
    padding-left: 0;
}

.submenu .nav-item { position: relative; }
.submenu .nav-link {
    padding: 8px 0;
    font-size: 0.95rem;
    color: #0A003D;
    background: transparent !important;
    font-weight: 500;
}
.submenu .nav-link:hover { color: #7D21FE; }

.submenu .nav-item::before {
    content: '';
    position: absolute;
    right: -26px;
    top: 18px;
    width: 10px;
    height: 10px;
    background-color: var(--dot-inactive);
    border: 2px solid #fff;
    border-radius: 50%;
    z-index: 1;
}

.submenu .nav-item.active-sub::before {
    background-color: var(--dot-active);
    width: 12px;
    height: 12px;
    right: -27px;
    border-color: #fff;
}
.submenu .nav-item.active-sub .nav-link {
    color: var(--text-dark);
    font-weight: 700;
}

/* ===========================
   2. Header Styles
   =========================== */
.main-content {
    margin-right: 280px;
    width: calc(100% - 280px);
    transition: margin-right 0.3s ease, width 0.3s ease;
}

.top-header {
    background: #fff;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0,0,0,0.02);
    margin-bottom: 20px;
    border-bottom: 1px solid #D9D9D9;
    width: 100%;
}

.page-title {
    font-weight: 700;
    color: var(--text-dark);
    font-size: 1.2rem;
}


.cursor-pointer { cursor: pointer; }
.lang-switch{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: #F5F4F4B2;
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

/* User Profile */
.bell{
    background-color: #7D21FE;
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
}
/* ===========================
   User Profile Dropdown Styles
   =========================== */

/* إخفاء الشيك بوكس */
.dropdown-checkbox {
    display: none;
}

/* تنسيق حاوية البروفايل */
.user-profile {
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 6px 10px;
    background: #fff;
    border-radius: 8px;
    width: fit-content;
    position: relative;
    box-shadow: var(--shadow);
    cursor: pointer;
}

/* تنسيق الزر القابل للضغط */
.user-dropdown-btn {
    /* padding: 5px; */
    border-radius: 30px;
    transition: all 0.3s ease-in-out;


}
.user-info {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.user-name {
    font-weight: 700;
    color: #0A003D;
    font-size: 18px;
}

.user-email {
    font-size: 14px;
    font-weight: 300;
    color: #0A003D;
}



/* تنسيق السهم وحركته */
.dropdown-arrow {
    transition: transform 0.3s ease;
    font-size: 0.75rem;
    margin-left: 0rem;
    transition: var(--transition);
    color: #7D21FE;
    transform: translate(-21px, -12px);
}



/* --- القائمة المنسدلة --- */
.custom-dropdown-menu {
    display: none; /* مخفية افتراضياً */
    position: absolute;
    top: 103%;
    left: -10px;  /* محاذاة لليسار */
    /* min-width: 200px; */
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    padding: 10px;
    list-style: none;
    z-index: 1001;
    /* border: 1px solid #eee; */
    
}

/* عند تفعيل الشيك بوكس، إظهار القائمة */
.dropdown-checkbox:checked ~ .custom-dropdown-menu {
    display: block;
}

.custom-dropdown-menu a i {
     color: #7D21FE;
    width: 34px;
    height: 34px;
}
.custom-dropdown-menu a span {
    margin-right: 20px;
    color: #0A003D;
    width: 168px;
    height: 45px;
    font-size: 24px;
    font-weight: 600;
}



.avatar-circle {
    width: 35px;
    height: 35px;
    background: #7D21FE;
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;
}

/* ===========================
   3. Dashboard Cards
   =========================== */
   .dashboard-body {
    margin-top: 65px;
   }
.dashboard-card {
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.03);
    height: 350px; 
    display: flex;
    flex-direction: column;
}

.card-header-custom {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    padding: 1.25rem;
    background-color: #fff;
    color: #0A003D;
}

.card-header-custom i {
     color: #7D21FE; 
     font-size: 1.2rem; 
}

h2 {
    font-size: 24px;
    font-weight: 700;
    color: #7D21FE;
   margin-bottom: 40px;
   margin-top: -30px;
}
.badge-count {
    font-size: 0.8rem;
    color: #0A003D;
}
.head {
    margin-right: -17px;
}
/* --- تعديل البطاقات لتفعيل السكرول --- */
.dashboard-card {
    display: flex;
    flex-direction: column;
    background: #F5F4F480;
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    overflow: hidden;
    height: 70%;
    transition: var(--transition);
    padding-top: 20px;
    width: 90%;
}

.card-header-custom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0px;
    flex-shrink: 0;
    color: #0A003D;
    margin-left: 15px;
}

/* --- تعديل القائمة لتثبيت السكرول --- */
.scrollable-list {
    overflow-y: auto;    /* التغيير هنا: scroll بدلاً من auto لإظهاره دائماً */
    flex: 1;
   max-height: 170px; 
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    margin-left: -17px;
    margin-right: -22px;
    cursor: pointer;
}

/* تنسيق السكرول */
.scrollable-list::-webkit-scrollbar {
    width: 6px;
    display: block; /* لضمان ظهوره في بعض المتصفحات */
}

.scrollable-list::-webkit-scrollbar-track {
   background: rgba(217, 217, 217,0.5);
    border-radius: 10px;
}

.scrollable-list::-webkit-scrollbar-thumb {
    background: #0A003D; 
    border-radius: 10px;
}




.list-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.75rem;
    padding: 0.5rem;
    border-radius: 8px;
    transition: var(--transition);
    margin-bottom: 20px;
    border: 1px solid hsla(0, 1%, 42%, 0.502);
}

.list-avatar {
    width: 45px;
    height: 45px;
    border-radius: 10px;
    object-fit: cover;
    margin-left: 10px;
}
.text-details {
    margin-top: 15px;
}
.text-details h6 {
    font-size: 0.9rem;
    margin-bottom: 2px;
    font-weight: 600;
}
.text-details span {
    font-size: 0.65rem;
    color: #0A003D;
}
.detail-text {
    font-size: 0.75rem;
    color: #0A003D;
    text-align: right;
    font-weight: 200;
}
.status-icon {
    font-size: 1.1rem;
    color: #7D21FE;
}
.employee-details {
    
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.45rem;
    margin-left: 0px;
}
.detail-text {
    font-size: 0.7rem;
    color: #0A003D;
    text-align: right;
    font-weight: 200;
}
.employee-detail {
   
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 10px;
}
.employeedetail{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 0px;
}
.detailtext {
    font-size: 0.6rem;
    color: #0A003D;
    text-align: left;
    font-weight: 200;
}



/* الجزء العلوي (الرمادي) */
.approvals-info-box {
    width: 100%;
    padding: 27px 20px 30px 20px;
    margin-top: 0;
}

/* الجزء السفلي (الأبيض) */
.approvals-action-box {
    background-color: #FFFFFF; /* لون أبيض */
    width: 100%;
    padding: 25px 20px;
}
.final-head {
    margin-bottom: 10px;
    margin-top: -10px;
    margin-right: -25px;
}
.approvals-card {
    margin-top: 6px;
}
.title {
    font-size: 1.125rem;
    font-weight: 600;
    color: #0A003D;
    margin-bottom: 2rem;
    letter-spacing: -0.3px;
    margin-top: 1rem;
}
.count {
    font-size: 18px;
    color: rgba(10, 0, 61, 0.5);
    font-weight: 600;
    margin-bottom: -15px;
}
/* تحسين شكل الزر ليطابق الصورة */
.btn-pink {
    background: #F83DCC80;
    color: #0A003D;
    border: none;
    padding: 0.75rem 3rem;
    border-radius: 50px;
    font-weight: 300;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 30px;
    transition: var(--transition);
    box-shadow: 0 4px 12px rgba(236, 72, 153, 0.25);
}
.btn-pink:hover{
     background: #F83DCC80;
    color: #0A003D;
}


/* ===========================
   4. Mobile Responsiveness
   =========================== */
.sidebar-overlay {
    display: none;
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.1);
    z-index: 999;
}

@media (max-width: 991.98px) {
    /* Hide sidebar by moving it off-screen */
    .sidebar { 
        transform: translateX(200%); 
        right: 0;
        transition: var(--transition);
        width: 85%;
        height: 100%;
     }
    .main-content .page-title {
        display: none;
    }
    /* Main content takes full width */
    .main-content { margin-right: 0; width: 100%; }
    
    /* Show overlay and sidebar when checkbox is checked */
    .sidebar-checkbox:checked ~ .wrapper .sidebar {
        transform: translateX(0);
        margin-right: -14px;
    }
    
    /* .sidebar-checkbox:checked ~ .sidebar-overlay {
        display: block;
    } */
     .top-header .text-purple{
        color: #7D21FE;
        border: 1px solid transparent;
        width: 20px;
        height: 20px;
     }
   
    .logo img {
    height: 40px;
   margin-right: 0px;
border-bottom: 1px solid #eee;
}

}
@media(min-width: 425px) and (max-width: 991.98px){
   .dashboard-card {
    margin-right: 30px;
   }
   h2 {
    margin-right: 30px;
   }
   .card-header-custom {
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-header-custom .head {
    margin-right: 10px;
}
.final-head {
    margin-right: 10px;
}

}

@media(min-width: 320px) and (max-width: 424.99px) {
    .dashboard-body {
     margin-right: 19px;
    }
    .top-header {
       max-width: 100%;
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin-inline: 12px;
    }
     .header-left{
        margin-right: -20px;
     }
     .header-right {
        margin-left: -20px;
     }
      .sidebar-checkbox:checked ~ .wrapper .sidebar {
        transform: translateX(0);
        margin-right: -12px;
    }
     
}
@media (min-width: 425px) and (max-width: 576px) {
.badge-count {
    margin-left: -20px !important;
}
}
@media (min-width: 770px) and (max-width: 1000px) {
.badge-count {
    margin-left: 30px !important;
}
}
@media (min-width: 320px) and (max-width: 321.99px) {
.employee-details {
    margin-left: -2px;
}
}

@media (min-width: 320px) and (max-width: 575.99px) {
    .custom-dropdown-menu {
    display: none; /* مخفية افتراضياً */
    position: absolute;
    top: 103%;
    left: -10px;  /* محاذاة لليسار */
    min-width: 200px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    padding: 10px;
    list-style: none;
    z-index: 1001;
    border: 1px solid #eee;
    }
}


